.topOfPage {
    background-color: #8E388E;
    font-size: 50px;
}
body{
    padding; 0;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer {
    background-color: #E08CE0;  
    position: bottom;  
    width: 100%;
    bottom: 0px;
} 
